#Contact {
  width: 1850px;
  min-height: 40px;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}

#Different_Contacts {
  width: 1850px;
  min-height: 40px;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}


h1 {
  color: #000000;
  font-size: 200%;
  text-indent: 700px;
}

h2{
  color: #000000;
  font-size: 200%;
  text-indent: 800px;
}

img{
  width: 400px;
  float: right
}
