#lab13Challenge {
  background-color: #FF5353;
  width: 1850px;
  min-height: 40px;
  padding: 10px;
  margin: 10px;
  border: solid 15px #000000;
  font-size: 25px;
}

#lab13Problems {
  background-color: #FF5353;
  width: 1850px;
  min-height: 40px;
  padding: 10px;
  margin: 10px;
  border: solid 15px #000000;
  font-size: 20px;
}

#lab13Results {
  background-color: #FF5353;
  width: 1850px;
  min-height: 40px;
  padding: 10px;
  margin: 10px;
  border: solid 15px #000000;
  font-size: 20px;
}

h1 {
  color: #000000;
  font-size: 200%;
  text-indent: 800px;
}

h2{
  color: #000000;
  font-size: 200%;
  text-indent: 800px;
}
